body{
    background-color: rgb(0, 2, 128);
    font-family: cursive;
    text-transform: capitalize;
}
h1{
    font-size: 40px;
    color: orange;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}
p{
    color: white;
    text-align: center;
}
button{
    color: white;
    border: none;
    border-radius: 7px;
    background-color: orange;
    font-size: 25px;
    display: block;
    margin: auto;
    text-transform: uppercase;
    transition: all .5s ease-in;
}
button:hover {
    cursor: pointer;
    background: white;
    color: black;
}
h2{
  color: orange; 
   
}
li{
    list-style: lower-alpha;
    color: white;
}
a{
    color: orange;
    text-align: center;
    display: block;
    text-decoration: none;
}
a:hover{
    color: white;
}